<div class="center">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email Id</mat-label>
      <input matInput placeholder="abc@gmail.com" formControlName="emailId" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" formControlName="password" />
    </mat-form-field>
    <button mat-raised-button color="primary">SignUp</button>
  </form>
</div>
